@media only screen and (min-width: 32.5em) {

    body{
        width: 750px;
    }


    header{
        border-radius: 25px;
    }

    footer{
        border-radius: 25px;
    }

    #picture{
        width: 150px;
        float: right;
        border: 5px;
        border-style: inset;
        border-color: darkslategray;
        display: block;
        margin: auto;
    }

}
