@media only screen and (min-width: 32.5em) {

    body{
        width: 750px;
    }

    
    h1{
        size: 8em;
    }

    h2{
        size: 2em;
    }

    header{
        border-radius: 25px;
    }

    footer{
        border-radius: 25px;
    }

    #picture{
        width: 150px;
        float: right;
        border: 5px;
        border-style: inset;
        border-color: darkslategray;
        margin-top: -75px;
    }

}
