body{
    margin: 0 auto;
    width: 750px;
    background-color: honeydew;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header{
    background-color: seagreen;
    padding: 1em;

}

#picture{
    float: right;
    border: 5px;
    border-style: inset;
    border-color: seagreen;
}

h1{
    text-align: center;
    color: midnightblue;
    size: 2em;
}

h2{
    text-align: center;
    color: forestgreen;
    size: 2em;
}



