body {
    background-color: burlywood;
}


h1 {
    text-align: center;
    color: crimson;
}

img[data-src] {
    filter: blur(0.2em);
}

img {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding: 5px;
    filter: blur(0em);
    transition: filter 0.5s;
}