body {
    display: flex;
    justify-content: center;
    margin-top: 10em;
    background-color: white;
}

table, th, tr, td {
    border: 3px solid #abadad;
    border-collapse: collapse;
    padding: .5em;
}


table {
    font-family: Ubuntu, sans-serif;
    margin: 0 auto;
    box-shadow: 10px 10px 20px #628ca6;
    font-size: 20px;
    text-align: center;
}


caption {
    background-color: #7fb9c2;
    font-size: 2em;
    font-weight: bolder;
    padding: 5px;
}

th {
    background-color: #628ca6;
    color: white;
    font-size: 1.25em;
    padding: 10px;
}

td {
    padding: 10px;
}


tbody {
    background-color: #e7f0ed;
}


tr:nth-child(even) {
    background: #E7FFED;
  }

.diffColor {
    background-color: #7fb9c2;
    color: white;
}

tfoot {
    background-color: #7fb9c2;
    font-size: .75em;
}

