body {
    background-color: #E0ECF5;
    font-family: "Sansita", Ubuntu, Sans-serif;
    color: #11212D;
    font-weight: bold;
    margin: 0 auto;
  
  }
  
  nav {
    background-color: #11212D;
    text-align: center;
    font-size: 125%; 
    font-weight: 400;
    box-shadow: 0 2px 15px #7A9970;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li a {
    display: block;
    color: #FEF1EC;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    
  }
  
  nav a:hover {
    background-color: darkslategray;
    color: white;
  }
  
  h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    color: #7a9970;
  }
  
  h1 {
    text-align: center;
    font-weight: bolder;
  }
  
  h2 {
      text-decoration: underline;
  }

  img {
    width: 220px;
  }

  .colorpalette img {
    width: 100%;
  }
   
footer {
    background-color: #11212D;
    text-align: center;
    color: white;
    font-size: 125%; 
    font-weight: 400;
    padding-bottom: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: #7a9970;
    font-size: 90%;
  }
  
  footer a:hover {
    color: green;
  }